.search {
    position: relative;
}

.search-form {
}

.search-form__container {
    position: relative;
}

.search-form__input {
    font-size: 1.8em;
    font-family: inherit;
    padding: 0.5em 3em 0.5em 0.7em;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    background-color: #f2f2f2;
}

    .search-form__input::-webkit-search-decoration,
    .search-form__input::-webkit-search-cancel-button,
    .search-form__input::-webkit-search-results-button,
    .search-form__input::-webkit-search-results-decoration {
        display: none;
    }

    .search-form__input:focus, .search-form__container:focus-within .search-form__input {
        outline: none;
    }

    .search-form__input:hover{
        cursor: pointer;
    }

.search-form__button {
    width: 2.25em;
    height: 2.25em;
    border: none;
    background: transparent;
    position: absolute;
    right: 1em;
    top: calc(50% - 1.125em);
    user-select: none;
    border-radius: 50%;
    pointer-events: none;
    color: #f2f2f2;
}

    .search-form__button:hover {
        cursor: pointer;
    }

    .search-form__button:focus {
        outline: none;
        background-color: #569482;
    }

    .search-form__button img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.search__items {
    box-sizing: border-box;
    display: grid;
    margin: 0;
    list-style-type: none;
    font-size: 1.4em;
    padding: 0;
    background-color: white;
}

.search__items-container {
    position: relative;
    max-height: 50vh;
    height: 0;
    overflow: hidden;
    top: calc(100% + 1em);
    left: 0;
    width: 100%;
    z-index: 100;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.4);
}

    .search__items-container::-webkit-scrollbar {
        width: 1em;
        transition: 1s;
    }

    .search__items-container::-webkit-scrollbar-track {
        background-color: #f9f9f9;
        border-radius: 15px;
    }

    .search__items-container::-webkit-scrollbar-thumb {
        background-color: seagreen;
        border-radius: 15px;
        border: 0.2em solid #f9f9f9;
        min-height: 1em;
    }

.search:focus-within .search__items-container, .search__items-container:hover {
    height: auto;
    overflow-y: auto;
}

li, li a{
    border-radius: 15px;
}

    li a:focus {
        -webkit-box-shadow: 0px 0px 0px 5px rgba(21, 204, 0, 0.5);
        -moz-box-shadow: 0px 0px 0px 5px rgba(21, 204, 0, 0.5);
        box-shadow: 0px 0px 0px 5px coral;
        outline: none;
    }

li a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.search__items li {
    padding: 0.5em 1em;
    box-sizing: border-box;
}

    .search__items figure {
        margin: 0;
        padding: 0.5em;
    }

.search__item {
    background-color: white;
    display: grid;
    grid-template-areas:
        'image name description';
    grid-template-columns: auto 0.5fr 1fr;
    grid-column-gap: 1em;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    outline: 1px solid lightgrey;
}

    .search__item:hover{
        cursor: pointer;
    }

    .search__item img {
        grid-area: image;
        width: 5em;
        height: 5em;
        border-radius: 25%;
    }

    .search__item figcaption {
        grid-area: name;
        font-weight: 600;
    }

        .search__item figcaption p{
            margin: 0;
            padding: 0.5em 0;
        }

.search__item_manufacturer{
    color: rosybrown;
    letter-spacing: 5px;
}

.search__item_deescription{
    line-height: 1.4;
}

.search__item p {
    grid-area: description;
}

    .search__item p, .search__item figcaption {
        padding: 0.5em;
    }

@media only screen and (max-width: 48em) {
    .search {
        display: grid;
        grid-row-gap: 0.7em;
    }

    .search__item {
        grid-template-areas: 
            'image name' 
            'description description';
        grid-template-columns: auto 1fr;
        grid-column-gap: 1em;
    }

    .search__items {
        position: static;
        z-index: 0;
    }

    .search__items-container{
        position: static;
    }
}

